* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
}

.headmessage {
  margin:auto;
  text-align: center
}

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 40px 0;
}

.head {
  display: flex;
  background-color: #282c34;
  color: white;
  padding: 80px 20px;
  max-height: 800px;
}

.head h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.head .highlight {
  color: #61dafb;
}

.head .btn {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #61dafb;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.about {
  margin: auto;
  max-width: 300px;
  padding: 80px 20px;
  text-align: left;
}

img {
  margin-left: 10p;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #222;
}

.project {
  margin-bottom: 30px;
}

.project a {
  color: #007acc;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.tool-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.tool-list li {
  margin: 10px 15px;
  padding: 10px 20px;
  background: #eee;
  border-radius: 20px;
  font-weight: 500;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
}
